synergyAPI/Base.IC/obj/project.nuget.cache
synergyAPI/Base.IC/obj/Debug/netcoreapp3.1/Base.IC.csprojAssemblyReference.cache
synergyAPI/Base.Negocio/bin/Debug/netcoreapp3.1/Base.Negocio.dll
synergyAPI/Base.Negocio/bin/Debug/netcoreapp3.1/Base.Negocio.pdb
synergyAPI/Base.Negocio/obj/Base.Negocio.csproj.nuget.dgspec.json
synergyAPI/Base.Negocio/obj/project.assets.json
synergyAPI/Base.Negocio/obj/project.nuget.cache
synergyAPI/Base.Negocio/obj/Debug/netcoreapp3.1/Base.Negocio.csprojAssemblyReference.cache
synergyAPI/Base.Negocio/obj/Debug/netcoreapp3.1/Base.Negocio.dll
synergyAPI/Base.Negocio/obj/Debug/netcoreapp3.1/Base.Negocio.pdb
synergyAPI/Base.Transversal/obj/Base.Transversal.csproj.nuget.dgspec.json
synergyAPI/Base.Transversal/obj/project.assets.json
synergyAPI/Base.Transversal/obj/project.nuget.cache
synergyAPI/Base.Transversal/obj/Debug/netcoreapp3.1/Base.Transversal.csprojAssemblyReference.cache
synergyAPI/Base.IC/obj/project.assets.json
synergyAPI/.vs/synergyAPI/config/applicationhost.config
synergyAPI/.vs/synergyAPI/DesignTimeBuild/.dtbcache.v2
synergyAPI/.vs/synergyAPI/v16/.suo
synergyAPI/API/bin/Debug/net5.0/API.deps.json
synergyAPI/API/bin/Debug/net5.0/API.dll
synergyAPI/API/bin/Debug/net5.0/API.exe
synergyAPI/API/bin/Debug/net5.0/API.pdb
synergyAPI/API/bin/Debug/net5.0/Base.Negocio.dll
synergyAPI/API/bin/Debug/net5.0/Base.Negocio.pdb
synergyAPI/API/obj/API.csproj.nuget.dgspec.json
synergyAPI/API/obj/project.assets.json
synergyAPI/API/obj/project.nuget.cache
synergyAPI/API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
synergyAPI/API/obj/Debug/net5.0/API.dll
synergyAPI/API/obj/Debug/net5.0/API.pdb
synergyAPI/API/obj/Debug/net5.0/apphost.exe
synergyAPI/Base.Datos/obj/Base.Datos.csproj.nuget.dgspec.json
synergyAPI/Base.Datos/obj/project.assets.json
synergyAPI/Base.Datos/obj/project.nuget.cache
synergyAPI/Base.Datos/obj/Debug/netcoreapp3.1/Base.Datos.csprojAssemblyReference.cache
synergyAPI/Base.IC/obj/Base.IC.csproj.nuget.dgspec.json
synergyAPI/API/bin/
synergyAPI/Base.Datos/bin/
synergyAPI/Base.Datos/obj/
synergyAPI/Base.Negocio/bin/
synergyAPI/Base.Transversal/obj/
